@import "../../styles/variables.scss";

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .notFoundTitle {
    margin: 25px 0;
    font-size: 5rem;
    margin-top: 150px;
    color: $soft-color;
    font-weight: 200;
  }

  .notFoundSecondTitle {
    margin: 25px 0;
  }

  .notFoundButton {
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    background-color: $soft-bg;
    color: $soft-color;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    font-size: 13px;
  }

  .notFoundButton:hover {
    background-color: $dark-bg;
    font-size: 12.5px;
  }
}
